
.PageNetworkLinks {
    float:right;
}

.PageNetworkLinks .btn-group {
    vertical-align:top;
}

a.UsersPagesLinksButton.addAction button.doActionLabel, a.UsersPagesLinksButton.rmAction button.doActionLabel {
    color: #000;
    padding: 3px 9px;
    margin-left: 5px;
    border-radius: 0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

a.UsersPagesLinksButton.addAction button.doActionLabel, a.UsersPagesLinksButton.rmAction button.doActionLabel:hover {
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
}

a.UsersPagesLinksButton.rmAction button.doActionLabel {
    background-color: #ddd;
    background-image: none;
    border: 1px solid #aaa;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

a.UsersPagesLinksButton.rmAction button.doActionLabel:hover {
    box-shadow:none;
}

a.UsersPagesLinksButton.addAction button.doActionLabel:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    border: 1px solid #ccc;
}

a.UsersPagesLinksButtonCounter button {
    padding: 3px 8px;
    font-weight: bold;
    margin-top:-1px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-left: 0px;
    border-radius: 0px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.UsersPagesLinksButton .doActionLabel .fa, .UsersPagesLinksButton .undoActionLabel .fa {
    margin-right: 2px;
    font-size: 93%;
}

.UserCard {
    background: #f9f9f9;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 3px;
}

.UserCard .UserListCardAvatar {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 5px;
}

.UserCard a:hover {
    text-decoration: none; 
}

.UserCard .UserListCardAvatar img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.UserCard .UsersUnWatchButton,
.UserCard .UsersWatchButton {
	float: right;
    color: #fff;
}

.UserCard .UsersUnWatchButton .btn {
	transition: all ease .25s;
    background-color: #f5f8fa;
    border: 1px solid #c0d2dd;
    color: #66757f;
    background-image: linear-gradient(#ffffff,#f5f8fa);
}

.UserCard .UsersWatchButton .btn {
    background: #52bad5;
    transition: all ease .25s;
}

.UserCard .UsersWatchButton .btn:hover {
    background: #2c9ab7;
    color:#fff;
}

.UserCard .UsersUnWatchButton .btn:hover {
    background: #dc2323;
    border: 1px solid #dc2323;
    color: #fff;
}

.UserCard .UsersUnWatchButton .fa,
.UserCard .UsersWatchButton .fa {
	display: none;
}

.UserCard .UsersUnWatchButton .btn,
.UserCard .UsersWatchButton .btn {
	padding: 2px 5px;
	font-size: 14px;
}

.UserCard .UserListCardAbout {
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    color: #666;
    margin-top: 5px;
}

.UserCard .UserListCardName {
font-size: 15px;
    margin: 5px 0 0 0;
    float: left;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 103px);
    white-space: nowrap;
    vertical-align: baseline;
}

.UpdateProfileLink {
    float: right;
}

.UserCard .UserListCardInfo {
    float: left;
    width: calc(100% - 60px);
    height: 5em;
}

.UserListCardAbout {
    float: left;
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 19px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 38px;
    max-height: 2em;
}

.UserListcard .avatar img {
    border: 1px solid #ddd;
    background: #fff;
    width: 63px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 63px;
    display: flex;
    float: left;
}

.UsersListContent .UserListcard a  {
    float: left;
    width: 100%;
    padding: 0 5px 7px 8px;
    margin-bottom: 0px;
    background: transparent;
}

.UsersListContent .UserListcard .avatar img {
    border: 1px solid #ddd;
    background: #fff;
    width: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 30px;
    display: flex;
    float: left;
}

.UserListcard span.name {
    float: left;
    padding: 10px 5px 5px 15px;
    font-size: 16px;
    max-width: 178px;
    overflow: hidden;
}

.buttonGoBack {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: -70px;
}

.allPagesNumber {
    text-align: center;
    float: left;
    width: 100%;
    margin: 35px 0px;
    font-size: 17px;
}

.allPagesNumber span a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
}

.allPagesNumber span a:hover {
    border-color: #aaa;
    text-decoration: none;
}

.allPagesNumber span.pageSelect {
    border: 1px solid #333;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
}

.nbrHiddingPeople {
    padding: 5px 10px 7px;
    font-size: 13px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #fff;
}

.UsersListContent .usersPageLinksUsers {
    float: left;
    width: 100%;
    margin:0;
    padding-top: 12px;
    background-repeat: no-repeat;
    background-image: url('img/tooltip-triangle.png');
    background-position: top center;
}

.UsersListContent .usersPageLinksUsers:empty {
    padding-top: 0px;
}

.UsersListContent .col-md-4, .UsersListContent .col-sm-6, .UsersListContent .col-xs-12 {
    width: 100%;
    float: left;
    margin-right: 0px;
    padding: 0px;
    background: #30373b;
}

.UsersListContent .UserListcard:first-child {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.UsersListContent .UserListcard:last-child {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.UsersListContent .col-md-4:first-child a,
.UsersListContent .col-sm-6:first-child a,
.UsersListContent .col-xs-12:first-child a {
    padding-top: 7px;
}

.UsersListContent .UserListcard span.name {
    float: left;
    font-size: 0.95em;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 115px;
    color: #fff;
}

.UsersListContent {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    float: left;
    width: 160px;
    position: absolute;
    left: -68px;
    filter: drop-shadow(0px -1px 5px rgba(0,0,0,0.25));
}

.dropdownParent {
	position:relative;
	display:inline-block;
}

.usersPageLinksUsers, .UserListcard a{
	display:block;
}

.dropdownParent:hover .UsersListContent {
	display:block;
}


