
.PageNetworkLinks {
	float:right;
}

a.UsersPagesLinksButton.addAction button.doActionLabel, a.UsersPagesLinksButton.rmAction button.doActionLabel {
    color: #000;
    padding: 3px 9px;
    margin-left: 5px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

a.UsersPagesLinksButton.addAction button.doActionLabel, a.UsersPagesLinksButton.rmAction button.doActionLabel:hover {
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
}

a.UsersPagesLinksButton.rmAction button.doActionLabel {
    background-color: #ddd;
    background-image: none;
    border: 1px solid #aaa;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

a.UsersPagesLinksButton.rmAction button.doActionLabel:hover {
	box-shadow:none;
}

a.UsersPagesLinksButton.addAction button.doActionLabel:hover {
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	border: 1px solid #ccc;
}

a.UsersPagesLinksButtonCounter button {
    padding: 3px 8px;
	font-weight: bold;
    margin-top:-1px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
	border-left: 0px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.UsersPagesLinksButton .doActionLabel .fa, .UsersPagesLinksButton .undoActionLabel .fa {
	margin-right: 2px;
	font-size: 93%;
}



.UserListcard a  {
    background: #f1f1f1;
    float: left;
    width: 100%;
	margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.UserListcard .avatar img {
    border: 1px solid #ddd;
    background: #fff;
    width: 63px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 63px;
    display: flex;
    float: left;
}

.UserListcard span.name {
    float: left;
    padding: 10px 5px 5px 15px;
    font-size: 16px;
    max-width: 178px;
    overflow: hidden;
}